.custom-shape-divider-bottom-1708075887 {
    position: absolute;
    top: 215px;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1708075887 svg {
    position: relative;
    display: block;
    width: calc(270% + 1.3px);
    height: 500px;
}

.custom-shape-divider-bottom-1708075887 .shape-fill {
    fill: #072436;
}

.opacity-0 {
    opacity: 0 !important;
}
/* .feature-hero h1 {
    -webkit-text-fill-color: unset;
    color: #FFF;
} */
.feature-hero p{
    font-size: 22px;

}
.product-ingredient img {
    width: 230px;
}
.behind-about .ps-4 h4 {
    font-size: 45px;
    line-height: 1.3;
    color: #4601ce;
}
.behind-about .ps-4 p {
    font-size: 30px;
    line-height: 1.1;
    font-weight: 600;
}
.pro-abo-img img {
    width: 100%;
    /* background: url(/assets/images/bg/bg-overlay.png); */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: -25px;
    background-position-x: 0px;
    padding: 60px 0px 0px 0px;
}
section.product-bg-about{
    padding-top: 280px;
    padding-bottom: 400px;
    /* background: url('/assets/images/about/Subtraction\ 4.png'); */
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: top !important;
    margin-top: -280px;
}
.character-product img {
    position: absolute;
    /* top: -89px; */
    top: -95px;
    right: -70px;
}
.about-card .about-banner{
    border-radius: 70px;
    margin: 100px auto;
    /* padding: 20px 75px; */
    padding: 0 2rem 20px;
    width: 100%;
    left: 0;
    background: #c0ff00;
}
.about-card .banner-text h2, .about-card .banner-text h1 {
    color: #001827;
    -webkit-text-fill-color: unset;
}
.about-card .banner-text .p-f-s {
    color: #001827;
    padding-top: 15px;
    /* font-size: 24px; */
    font-size: 18px;
    line-height: 1.5;
    font-weight: 500;
    max-width: 90%;
}
.about-card .banner-text{
    padding: 40px 10px;
}

.profaessional{
    /* padding-top: 200px; */
    padding-top: 100px;
}
section.about-card .about-banner {
    position: absolute;
}
section.about-card .container {
    position: relative;
}

.profaessional p.sub-text {
    font-size: 23px;
    line-height: 1.5;
}

.profaessional .prof-slide p {
    font-size: 19px;
    line-height: 1.3;
    color: #fff;
}
.profaessional .prof-slide p.text-pink{
    color: #e406ff;
}
.profaessional .prof-slide{
    /* background: url('/assets/images/home/banner-bg.jpg');    */
    padding: 25px 40px 2px 35px;
    border-radius: 40px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: 50% 0; /* git issue #268 fixing */
}

.prof-size span.slick-arrow-prev {
    left: -35px;
    background-color: #e406ff;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    border: 2px solid #e406ff;
    color: #fff;
}
.profaessional p.p-f-s {
    color: #001827;
    font-size: 18px;
    line-height: 1.3;
    font-weight: 500;
}
.profaessional .prof-slide h5{
    -webkit-text-fill-color: unset;
    color: #001827;
}
.prof-size span.slick-arrow-prev.slick-arrow {
    color: #fff;
    width: 45px;
    height: 45px;
    border-radius: 55px;
    background-color: #e406ff;
    border: 2px solid #e406ff;
    left: -23px;
}
.prof-size span.slick-arrow-next.slick-arrow {
    color: #fff;
    width: 45px;
    height: 45px;
    border-radius: 55px;
    background-color: #e406ff;
    border: 2px solid #e406ff;
    right: -23px;
}
.prof-img-2{
    top: -40px;
}
.about-hero.container .services {
    margin: 0px 0px;
}
.about-hero h1 {
    color: #ea00ff;
    -webkit-text-fill-color: unset;
    font-size: 80px;
}
.abut-hero-img1{
    display: flex;
    justify-content: flex-end;
}
.abut-hero-img1 img {
    width: 80%;
    /* background: url(/assets/images/bg/bg-overlay.png); */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 35px;
    background-position-x: -10px;
    padding: 100px 0px 0px 0px;
}

/* Git issue #311 fixing */
@media (min-width: 1200px) {
    .behind-about h1 {
        font-size: 68px !important;
    }
    .behind-about .b-para {
        font-size: 44px;
    }
    .product-ingredient img {
        width: 200px;
    }
    .behind-about .ps-4 h4 {
        font-size: 38px;
    }
    .behind-about .ps-4 p {
        font-size: 20px;
    }
    .about-card .banner-text .p-f-s {
        max-width: 82%;
    }
}
@media (min-width: 1400px) {
    .product-ingredient img {
        width: 230px;
    }
    .behind-about .ps-4 h4 {
        font-size: 46px;
    }
    .behind-about .ps-4 p {
        font-size: 24px;
    }
    .about-card .banner-text .p-f-s {
        font-size: 22px;
    }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
    .about-page .about-hero {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}
@media (max-width: 575.98px) {
    .profaessional p.p-f-s {
        /* Git issue #268 fixing */
        margin-top: -16px;
        font-size: 15px;
    }
}